.comments{
  border: 1px solid black;
  background-color: rgba(236, 187, 187,0.3);
}

td{
  word-wrap: break-word;
  max-width: 132px;
}

th, td{
  text-align: center;
}

.back{
  width: 50px;
  transform: rotate(90deg);
  cursor: pointer;
}

